# Credenciais do Banco do Brasil
CHAVE_J=J
SENHA=Senha

# Pastas de arquivos
PASTA_DOWNLOADS=C:\\Users\\eu\\Downloads
PASTA_MAIOR=\\Servidor\pasta1\Depositos Judiciais
PASTA_DESTINO=\\Servidor\pasta1\PUBLIC\Depositos

# Envio de emails
EMAIL_NAO_RESPONDA=nao.responda@email.com
SENHA_EMAIL_NAO_RESPONDA=senha
DESTINATARIOS="e@e.com;a@a.com"

URL_API_DEV="http://localhost:8005/api/djos/"
URL_API_PROD="http://pgmconnect:8005/api/djos/"
API_USERNAME="USERNAME"
API_PASSWORD_DEV="senhasupersecreta"
API_PASSWORD_PROD="senhasupersecreta2"